Reservation Completed
===============================================

You have successfully reserved your flight. 
Your reservation reference is: <%= @booking.booking_reference %> 
Your flight time is <%= @flight_details.time %>

Departure time: <%= @flight_details.time %>
Departing from: <%= @flight_details.dept_airport.name %>
Arriving at: <%= @flight_details.arr_airport.name %>

To cancel, search your booking at: <a href="<%= @url %>">ReservAir Search</a>
Thanks for reserving with us. Have a great day!

-ReservAir Team