<section class='section'>
  <div class="container">
    <div class="columns is-centered">
      <div class='column is-6'>
        <h4 class='title is-4 is-centered'>Find a flight</h4>

        <%= form_with url: '/', method: :get do | f | %>
          <div class="field is-horizontal">
            <div class="field-label has-text-left has-text-weight-semibold">
              <%= f.label :dept_airport_id, 'From' %>
              <div class="control">
                <div class='select'> 
                  <%= f.collection_select :dept_airport_id, @airport_names, :id, :name, { prompt: 'Depart' }%>
                </div>
              </div>
            </div>

            <div class="field-label has-text-left has-text-weight-semibold">
              <%= f.label :arr_airport_id, 'To' %>
              <div class="control"> 
                <div class='select'>
                  <%= f.collection_select :arr_airport_id, @airport_names, :id, :name, { prompt: "Arrive" } %>
                </div>
              </div>
            </div>

            <%# <div class="field-label has-text-left has-text-weight-semibold"> %>
              <%# <%= f.label :passengers, 'Passengers' %>
              <%# <div class="control"> 
                <div class='select'> %>
                  <%#<%= f.select :passengers, [1, 2, 3, 4], { prompt: "Passengers" } %>
                <%# </div>
              </div>
            </div> %>

            <div class="field-label has-text-left has-text-weight-semibold">
              <%= f.label :date, 'Date' %>
              <div class="control"> 
                <div class='select'>
                  <%= f.select :date, @dates, { prompt: "Date" } %>
                </div>
              </div>
            </div>
         
            <div class="field-label submit">
              <%= f.submit 'Search', class: 'button is-info search-button' %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</section>

<%# Use collection_select to show one value in dropdown and pass another to params hash %>
<%# @airport_names is defined in the flights_controller and provides the AR relation to %>
<%# pull the :id and :name from %>
<%# collection_select :params_key, [AR relation], :params_key_value, :display_value %>
<%# use select for values you want to pass straight into the params %>

<section class='section'>
  <div class="container">
    <div class="columns is-centered">
        <%= render 'results' %>
    </div>
  </div>
</section
