
<div class="column is-half">


      <%= form_with model: @booking do |f| %>
        <%= f.hidden_field :flight_id, value: params[:flight_id] %>
        <%= f.hidden_field :booking_reference, value: @booking_reference %> 
        <article class="panel">
          <p class="panel-heading has-text-centered mb-2">Passenger Details below</p>
          <%= f.fields_for :passengers do |passenger_form| %>
          <article class="media">
            <div class="media-content">
              <div class="content">
                <div class='result-col'>
                <%= passenger_form.label :name, class: 'my-2' %>
                <%= passenger_form.text_field :name, class: 'my-2' %>
                <%= passenger_form.label :email, class: 'my-2' %>
                <%= passenger_form.email_field :email, class: 'my-2' %>
              </div>
        <% end %>
         
          </div>
        </div>
         </article>
       
        <%= f.submit 'Submit', class: 'button is-info m-4' %>
      <% end %>
      </article>
        
  </div>
</div>