
<div class="column is-half">
  <%= form_with model: @booking do |f| %>
    <%= f.hidden_field :flight_id, value: params[:flight_id] %>
    <%= f.hidden_field :booking_reference, value: @booking_reference %> 
    <article class="panel">
      <p class="panel-heading has-text-centered mb-2">Passenger Details</p>
      <%= f.fields_for :passengers do |passenger_form| %>
      <article class="media">
        <div class="media-content">
          <div class="content">
            <div class='result-col'>
              <%= passenger_form.label :name, class: 'my-2 mx-3 label' %>
              <%= passenger_form.text_field :name, class: 'my-2 mx-3 input' %>
              <%= passenger_form.label :email, class: 'my-2 mx-3 label' %>
              <%= passenger_form.email_field :email, class: 'my-2 mx-3 input' %>
            </div>
          </div>
 
      <% end %>  
        
    </article>
    <div class='has-text-right'>
    <%= f.submit 'Reserve', class: 'button is-info m-4' %>
    </div>
  <% end %>
  </article>
        
  </div>
</div>