<h1>Booking details</h1>
<p>From: <%= @flight_details.dept_airport.name %></p>
<p>To: <%= @flight_details.arr_airport.name %></p>
<p>Date: <%= @flight_details.date %></p>
<p>Time: <%= @flight_details.time %></p>
<p>Duration: <%= @flight_details.duration %> min</p>

<%= form_with model: @booking do |f| %>
  <p>Enter passenger details below</p>
  <%= f.fields_for :passengers do |passenger_form| %>
      <%= passenger_form.label :name %>
      <%= passenger_form.text_field :name%>
      <%= passenger_form.label :email %>
      <%= passenger_form.email_field :name%>
  <% end %>
<% f.hidden_field :flight_id, params[:flight_id] %>
<% f.hidden_field :passengers, params[:passengers] %>
  <%= f.submit 'Submit' %>
<% end %>