<%= render 'flight_details' %>
     
<section class='section'>
  <div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
          <%= form_with model: @booking do |form| %>
            <%= form.hidden_field :flight_id, value: params[:flight_id] %>
            <%= form.hidden_field :booking_reference, value: @booking_reference %> 
            <article class="panel">
              <p class="panel-heading has-text-centered mb-2">Passenger Details</p>
              <article class="media">
                <div class="media-content">

                  <div id='passengers'>
                    <%= form.fields_for :passengers do |passenger_form| %>
                      <%= render partial: 'passengers/form', locals: { passenger_form: passenger_form} %>
                    <% end %>
                  </div>
                  
              </article>
            <div class='has-text-right'>
            <%= form.submit 'Reserve', class: 'button is-info m-4' %>
            </div>
          <% end %>
            </article>
        
          </div>
        </div>
    </div>
  </div>
</section

