<h1>Reservation</h1>
<%= @flight.dept_airport.name %>
<%= @booking.id %>
<%= @booking.booking_reference %>

<%# Loop over Active Record Relation is acceptable here as the relation is always small? %>
<% i = 0 %>
<% while i < @passengers.length do %>
  <%= @passengers[i].name %>
  <%= @passengers[i].email %>
<% i += 1%>
<% end %>

<%= link_to 'Cancel Reservation', booking_path(@booking), data: {turbo_method: :delete,
                                                                turbo_confirm: 'Click OK to confirm.' }%>